.about__title{
    color: #8d0606;
    font-family: pacifico, cursive;
    font-size: 3.1875rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    
}

.about__title:hover{
    color:  #620404;
    cursor: pointer;

}