.about__title{
    color: var(--main-color);
    font-family: pacifico, cursive;
    font-size: 3.1875rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    
}

.about__title:hover{
    color:  var(--main-hover);
    cursor: pointer;

}