.receita__botao{
    background: var(--main-color);
    border: none;
    border-radius: 5px;
    color: var(--secondary-hover);
    padding: 1rem;
    transition: all .4s ease-in-out;
  
}

.receita__botao:hover{
    cursor: pointer;
    background: var(--main-hover);
    width: 110px;
    
}


