.receita{
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: calc(33.33% - 5rem);
    height: 300px;
    -webkit-box-shadow: 0px 0px 3px 1px #000000; 
    box-shadow: 0px 0px 3px 1px #000000;
    transition: all .2s ease-in-out;
}
.receita:hover{
    cursor: pointer;
    opacity: .8;
}

.receita{
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}
.receita:hover .receita__conteudo{
    top: 0;
    opacity: 1;
}
.receita::before{
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0; left: 0;
    background: rgb(255, 255, 255, .5);
    clip-path: circle(0% at 0% 0);
    transition: .3s linear;
}
.receita:hover::before{
    clip-path: circle(70%);
}